.container {
    display: flex;
    align-items: center;
  }
  
.text-container {
    display: flex;
    flex-direction: column;
  }

  .avatar {
    border-radius: 50%;
    width: 245px;
    height: 245px;
    margin-left: 250px;
  }
  
  .name {
    margin-left: 40px;
    font-size: 40px;
    font-weight: bold;
    margin-top: -40px;
  }

  .info-name {
    margin-left: 40px;
    margin-top: 10px;
    font-size: 20px;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  .contact {
    font-size: 40px;
    font-weight: bold;
    margin-top: -50px;
    margin-left: auto;
    margin-right: 250px;
  }

  .number {
    margin-top: 15px;
    font-size: 20px;
    margin-left: auto;
    margin-right:250px;
  }

  .mail {
    margin-top: 15px;
    font-size: 20px;
    margin-left: auto;
    margin-right: 250px;
  }

  .opis-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .divider {
    border-top: 3px solid #ccc;
    margin: 40px 250px;
  }

  .opis {
    padding-left: 250px;
    padding-right: 250px;
  }